---
import { Image } from "astro:assets";
import CalmindLogo from "../assets/CalmindSeriesLogo.png";
import LinkButton from "./shared/LinkButton/LinkButton.astro";
---

<nav
  class="flex items-center justify-around gap-4 p-6 md:p-8 max-w-7xl mx-auto bg-transparent w-full "
>
  <a href="/" class="flex items-center justify-center gap-1 hover:opacity-80 transition-opacity cursor-pointer">
    <Image src={CalmindLogo} alt="Calmind Series Logo" class="h-22 w-22" />
    <h1 class="pokemon-title text-3xl font-bold text-yellow-500">
      Pokemon<br />
      Calmind<br />
      <span class="text-xl font-semibold text-retro-cyan-300">Series</span>
    </h1>
  </a>

  <div class="flex items-center justify-end gap-2 flex-wrap">
    <LinkButton text="Primera" href="/primera-division" variant="primary" newTab={false} />
    <LinkButton
      text="Segunda"
      href="/segunda-division"
      variant="primary"
      newTab={false}
    />
    <!-- TODO: this button should be a link to the hall of fame tab -->
    <!-- <LinkButton text="Hall" href="/hall-of-fame" variant="primary" newTab={false} /> -->
    <!-- Discord server invitation link -->
    <LinkButton text="Unete!" href="https://discord.gg/97GeP7uS" variant="yellow" newTab={true} />
  </div>
</nav>
